default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>

development:
  <<: *default
  database: tracky_development

test:
  <<: *default
  database: tracky_test

production:
  <<: *default
  database: tracky_production
  username: tracky
  password: <%= ENV['TRACKY_DATABASE_PASSWORD'] %>
